body {
  background-color: antiquewhite;
  color: darkgoldenrod;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.signup-section{
  background-color: bisque;
   display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: auto;
  padding: 5px;
}
.nav{
  font-size: 20px;
  color: brown;
}
.footer-section{
  background-color: rgb(139, 0, 0);
  color: white;
  text-align: center;

}
.btn{
  background-color: brown;
  padding: 5%;

}
.logo{
  justify-content: center;
  text-align: center;
}
.head{
  text-align: center;
}
.home{
  text-align: center;
}
.image{
  text-align: center;
}
.about{
  text-align: center;
  justify-content: center;
}
.about img{
  text-align: center;
}
.welcome{
  text-align:center ;
}
.index{
  text-align: center;
}
.background{
  background-image: url("images/waitress-serves-taste-luxury-generative-ai_431161-65632.jpg");
  background-size: cover;
  padding: 10px;
}
.logo-color{
  background-color:rgba(230, 183, 150, 0.911);
}
.form-input{
border-color: blue;
box-shadow: none;
box-sizing: content-box;
border-radius: 10px;

}
input{
  padding-left: 30px;
  border-radius: 10px;
}

@media ( max-width: 500px ){
  .signup-section{
    text-align: center;
    font-size: medium;
    padding: 5px;
}
.footer-section{
  text-align: center;
  justify-content: center;
  font-size: medium;
  color:darkgray;
}
.btn{
  color:coral;
}
.logo{
  justify-content: center;
  text-align: center;
}
.head{
  color:black;
  text-align: center;
}
.home{
  text-align: center;
  justify-content: center;

}
.image{
  text-align: center;
}
.about{
  text-align: center;
  color: burlywood;
}
.welcome{
  color: blanchedalmond;
  text-align: center;
}
.index{
  color:black;
  text-align: center;
}
.background{
  padding: 10px;
  background-size: cover;
}
.about{
  color:black;
}

 
}



